<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hyd.work.dao.AccountDao">

    <update id="decrease">
        UPDATE account_tbl SET money = money - #{money} where user_id = #{userId};
    </update>
    <select id="getMoneyByUserId" resultType="java.lang.Integer">
        SELECT money FROM account_tbl WHERE user_id= #{userId}
    </select>
</mapper>